:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(135deg, #1DB954, #191414);
  font-size: 12px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-gradient) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
}

@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}
